/* Blank Canvas */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Home Background */
html.home {
    background-image: url(img/home_background.png);
    background-size: 100vw auto;
  }

/* Font Styles */
p {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4em;
    color: #FE5B32;
    position: absolute;
    margin: 39.8% 0 0 64%;
}
h1 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 3.5em;
    color: #FE5B32;
}
h2 {
    font-size: 1.5em;
    color: #FE5B32;
}
h3 {
    font-family: freight-big-pro, Georgia, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    line-height: 1.4em;
    color: #FE5B32;
}
span {
    font-family: freight-big-pro, Georgia, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4em;
    color: #FE5B32;
}
a {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    color: #ffffff;
    padding: 15px 206px;
    text-decoration: none;
    font-weight: 600;
    background-color: #FE5B32;
}

/* Input Style 
input[type=text] {
  width: 40%;
  padding: 10px 12px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 2px solid #FE5B32;
  border-radius: 0px;
  color: #FE5B32;
  outline: none;
} */

/* Space Area */
p.space {
  margin: 340px 0 0 0;
}
h1.together {
  display: inline;
}
h3.space {
  margin: 100px 0 0 0;
}
a.space {
  margin: 1.8% 0 0 63%;
}

form {
  margin: 39% 0 0 63%;
  width: 100%;
  height: auto;
}
input[type=text] {
  width: 70%;
  height: 200%;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #E8E5FF;
  border: 1px solid #FE5B32;
  border-radius: 0px;
  color: #FE5B32;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  font-weight: 600;
  outline: none;
}
input[type=submit] {
  width: auto;
  height: 200%;
  padding: 0 15px;
  box-sizing: border-box;
  background-color: #FFF73D;
  border: 1px solid #FE5B32;
  border-radius: 0px;
  color: #FE5B32;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  font-weight: 600;
  outline: none;
  cursor: pointer;
}

/* Column Grid */
  main.cols-12 {
    display: flex;
    flex-wrap: wrap;
  }
  main.cols-12 section.col1 {
    width: 8.33%;
  }
  main.cols-12 section.col2 {
    width: 16.66%;
  }
  main.cols-12 section.col3 {
    width: 25%;
  }
  main.cols-12 section.col4 {
    width: 33.33%;
  }
  main.cols-12 section.col5 {
    width: 41.66%;
  }
  main.cols-12 section.col6 {
    width: 50%;
  }
  main.cols-12 section.col7 {
    width: 58.33%;
  }
  main.cols-12 section.col8 {
    width: 66.66%;
  }
  main.cols-12 section.col9 {
    width: 75%;
  }
  main.cols-12 section.col10 {
    width: 83.33%;
  }
  main.cols-12 section.col11 {
    width: 91.66%;
  }
  main.cols-12 section.col12 {
    width: 100%;
  }
