/* Blank Canvas */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Home Background */
html.game {
    background-image: url(images/home_background.jpg);
    background-size: 100% auto;
    width: 100%;
    height: 935px;
  }

/* Font Styles */
p {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 16px;
    line-height: 1.4em;
}
h1 {
    font-family: 'Bai Jamjuree', sans-serif;
    font-weight: 600;
    font-size: 3.5em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-family: freight-big-pro, Georgia, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    line-height: 1.4em;
}
span {
    font-family: freight-big-pro, Georgia, serif;
    font-weight: 400;
    font-style: italic;
    font-size: 4em;
}
a {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 3em;
    color: #000000;
    text-decoration: none;
}

/* Space Area */
p.space {
  margin: 340px 0 0 0;
}
h1.together {
  display: inline;
}
h3.space {
  margin: 100px 0 0 0;
}
a.space {
  margin: 100px 0 0 80px;
}

/* Column Grid */
  main.cols-12 {
    display: flex;
    flex-wrap: wrap;
  }
  main.cols-12 section.col1 {
    width: 8.33%;
  }
  main.cols-12 section.col2 {
    width: 16.66%;
  }
  main.cols-12 section.col3 {
    width: 25%;
  }
  main.cols-12 section.col4 {
    width: 33.33%;
  }
  main.cols-12 section.col5 {
    width: 41.66%;
  }
  main.cols-12 section.col6 {
    width: 50%;
  }
  main.cols-12 section.col7 {
    width: 58.33%;
  }
  main.cols-12 section.col8 {
    width: 66.66%;
  }
  main.cols-12 section.col9 {
    width: 75%;
  }
  main.cols-12 section.col10 {
    width: 83.33%;
  }
  main.cols-12 section.col11 {
    width: 91.66%;
  }
  main.cols-12 section.col12 {
    width: 100%;
  }